.App {
  
}

.hidden {
  display: none;
}
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ou423r');
  src:  url('fonts/icomoon.eot?ou423r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ou423r') format('truetype'),
    url('fonts/icomoon.woff?ou423r') format('woff'),
    url('fonts/icomoon.svg?ou423r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-javascript:before {
  content: "\e903";
  color: #f7df1e;
}
.icon-css3:before {
  content: "\e904";
}
.icon-cog:before {
  content: "\e900";
}
.icon-gear:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-code-fork:before {
  content: "\e902";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-bug:before {
  content: "\e999";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-css32:before {
  content: "\eae6";
}
