.content {
    flex: 1 1 auto;
    font-size:12px;
    max-height:600px;
    overflow: scroll;
    position: relative;
}

.tab {    
    background: #222222;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    padding: 10px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

pre {
    padding: 5px; 
    margin: 5px; 
}
.string { 
    color: darksalmon; 
}
.number { 
    color: lightgreen;
}
.boolean { 
    color: cornflowerblue; 
}
.null { 
    color: cornflowerblue; 
}
.key { 
    color: lightblue; 
}

.content a {
    color: white;
    text-decoration: none;
}

.content a:hover, .content a:active {
    text-decoration: underline;
}

.comment {
    color: lightgreen;
}

::-webkit-scrollbar { 
    display: none; 
}

.certifications {
    width:450px;
    margin:25px 50px;
}
.certifications img {
    max-width: 80%;
}

.certification-image {
    max-height:25px;
}

.certifications .announcement {
    font-size:20px;
    font-weight:bold;
    padding-left:25px;
}

.content .icon {
    font-size:14px;
    margin-right: 5px;
}

.inner-content {
    padding:0 15px;
}