.content {
    flex: 1 1 auto;
    font-size:12px;
    overflow: scroll;
}

.tab {
    padding: 10px 15px;
}

pre {
    padding: 5px; 
    margin: 5px; 
}
.string { 
    color: darksalmon; 
}
.number { 
    color: lightgreen;
}
.boolean { 
    color: cornflowerblue; 
}
.null { 
    color: cornflowerblue; 
}
.key { 
    color: lightblue; 
}
.content p {
    padding:0 10px;
}
.content a {
    color: white;
    text-decoration: none;
}

.content a:hover, .content a:active {
    text-decoration: underline;
}

.comment {
    color: lightgreen;
}

::-webkit-scrollbar { 
    display: none; 
}

.certifications {
    width:450px;
    margin:25px 50px;
}
.certifications img {
    max-width: 80%;
}

.certification-image {
    max-height:25px;
}

.certifications .announcement {
    font-size:20px;
    font-weight:bold;
    padding-left:25px;
}